/* app/globals.css */
* {font-family: "Noto Sans KR", sans-serif;}
body {
  
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  
}

.site-header {
  display: flex;
  justify-content: space-between;  /* 로고와 버튼을 양 끝에 배치 */
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.site-logo-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.site-logo {
  max-width: 150px;
}

.site-nav {
  background-color: #166BBB;/* 파란색 배경 */
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white; /* 전체 텍스트 색상 흰색 */
  font-size: 1rem; /* 텍스트 크기 */
  display: flex; /* 가로로 배치 */
  justify-content: space-between; /* 양 끝에 배치 */
  align-items: center; /* 수직 가운데 정렬 */
}

.site-nav a {
  color: white; /* 링크 색상 흰색 */
  text-decoration: none; /* 링크 밑줄 제거 */
  margin: 0 1rem; /* 링크 간 간격 */
  transition: color 0.3s ease; /* 마우스 오버 시 전환 효과 */
}

.site-nav a:hover {
  color: #ffffffcc; /* 마우스를 올렸을 때 조금 더 밝은 흰색 */
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.nav-item a {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #005bb5;
}

.site-footer {
  text-align: center;
  padding: 1rem;
  background-color: #f4f4f4;
}

.auth-button {
  background: none;
  border: 2px solid #166BBB;
  color: #166BBB;
  padding: 0.5rem 1rem;
  border-radius: 20px 20px 20px 20px; /* 오른쪽과 왼쪽을 둥글게 설정 */
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.auth-button:hover {
  background-color: #166BBB;
  color: #fff;
}


